/* Navbar Styles */
:root {
    --primary-color: #B1935D;
    --dark-color: #1A1A1A;
}

.navbar {
    background-color: var(--dark-color);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: all 0.3s;
    top: 0;
    left: 0;
}

.navbar-brand img {
    height: 40px;
}

.nav-link {
    color: #fff !important;
    margin: 0 1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

/* Phone number style */
#navbar .phone-number {
    transition: color 0.3s ease;
}

#navbar.scrolled .phone-number {
    color: #000 !important;
}

/* Mobile menu adjustments */
@media (max-width: 768px) {
    #navbar.scrolled #mobileMenu a {
        color: #000 !important;
    }
    
    #navbar #mobileMenuBtn {
        transition: color 0.3s ease;
    }
    
    #navbar.scrolled #mobileMenuBtn {
        color: #000 !important;
    }

}

